{
  "presets": [
    [
      "@babel/env", {
        "useBuiltIns": "usage",
        "debug": true,
        "corejs": 3,
        "modules": false,
        "shippedProposals": true,
        "loose": true,
        "targets": {
          "node": "current",
          "esmodules": true,
          "browsers": "> 1%",
          "chrome": "58",
          "ie": "11",
        },
      },
    ],
    "@babel/react",
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/proposal-class-properties", { "loose": true }],
    "@babel/proposal-object-rest-spread",
    "@babel/syntax-dynamic-import",
    "@babel/transform-runtime",
    "@babel/transform-modules-commonjs",
  ],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"],
    },
    "production": {
      "plugins": ["react-hot-loader/babel"],
    },
  },
  // "ignore": [
  //   "node_modules",
  //   "build"
  // ]
}